/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;;
    font-size: 16px;
    font-weight: 500;
}

.container{
    width: 420px;
    height: 600px;
    box-shadow: 3px 3px 10px rgb(204, 204, 204);
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.hero {
    width: 420px;
    height: 200px;
}

.content h1 {
    font-size: 23px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-top: 2rem;
}

.content p {
    color: hsl(224, 23%, 55%);
    padding: 0 3rem 0 3rem;
    margin-top: 1rem;
    
}

.price {
    margin: 0 auto;
    width: 300px;
    height: 75px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.price img {
    position: absolute;
    width: 70px;
    height: 70px;
    padding: 1rem;
}

 .price h5 {
    position: absolute;
    left: 4.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.price p {
    position: absolute;
    left: 1.5rem;
    padding-top: 0.5rem;
}

.price a {
    position: absolute;
    right: 0;
    padding: 1rem;
}

.button {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay {
    width: 300px;
    height: 40px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 1px 1px 5px hsl(245, 75%, 52%);
    color: white;
    font-weight: 700;
    border: 0;
    border-radius: 0.5rem;
}

.pay:hover {
    background-color: hsl(245, 68%, 61%);
    box-shadow: 2px 2px 10px hsla(245, 68%, 61%, 0.466);
    transition: ease-in 0.5s; 

}

.cancel {
    margin-top: 0.5rem;
    width: 300px;
    height: 40px;
    color: rgb(112, 112, 112);
    background-color: white;
    border: 0;
    font-weight: 700;
    overflow: hidden;

}

.cancel:hover {
    color: hsl(245, 68%, 61%);
    transition: ease-in 0.5s; 
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    body {
        background: url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: hsl(225, 100%, 94%);
        font-family: 'Red Hat Display', sans-serif;;
        font-size: 13px;
        font-weight: 500;
    }
    
    .container{
        width: 350px;
        height: 550px;
        box-shadow: 3px 3px 10px rgb(204, 204, 204);
        text-align: center;
        align-items: center;
        border-radius: 1rem;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .hero {
        width: 350px;
        height: 166px;
    }

    .content{
        margin-top: 4.5rem;
    }
    
    .content h1 {
        font-size: 19px;
        font-weight: 900;
        color: hsl(223, 47%, 23%);
        margin-top: 2rem;
    }
    
    .content p {
        color: hsl(224, 23%, 55%);
        padding: 0 3rem 0 3rem;
        margin-top: 1rem;
        
    }
    
    .price {
        margin: 0 auto;
        width: 250px;
        height: 62.5px;
        background-color: hsl(225, 100%, 98%);
        border-radius: 1rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .price img {
        position: absolute;
        width: 58px;
        height: 58px;
        padding: 1rem;
    }
    
     .price h5 {
        position: absolute;
        left: 4.5rem;
        padding-bottom: 1rem;
        font-weight: 700;
        color: hsl(223, 47%, 23%);
    }
    
    .price p {
        position: absolute;
        left: 1.5rem;
        padding-top: 0.5rem;
    }
    
    .price a {
        position: absolute;
        right: 0;
        padding: 1rem;
    }
    
    .button {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pay {
        width: 250px;
        height: 33px;
        background-color: hsl(245, 75%, 52%);
        box-shadow: 1px 1px 5px hsl(245, 75%, 52%);
        color: white;
        font-weight: 700;
        border: 0;
        border-radius: 0.5rem;
    }
    
    .pay:hover {
        background-color: hsl(245, 68%, 61%);
        box-shadow: 2px 2px 10px hsla(245, 68%, 61%, 0.466);
         transition: ease-in 0.5s; 
    
    }
    
    .cancel {
        margin-top: 0.5rem;
        width: 250px;
        height: 33px;
        color: rgb(112, 112, 112);
        background-color: white;
        border: 0;
        font-weight: 700;
    
    }
    
    .cancel:hover {
        color: hsl(245, 68%, 61%);
        transition: ease-in 0.5s; 
    }
    
    .attribution { 
        font-size: 9px; text-align: center; 
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

}